<div *ngIf="!session" class="input-session">
  <img class="logo" src="../../assets/logo.gif"/>
  <mat-form-field floatLabel="never">
    <input (keydown.enter)="checkSession(inputSession)" [(ngModel)]="inputSession" matInput placeholder="Session name">
  </mat-form-field>
  <button
    (click)="checkSession(inputSession)"
    class="input-session-button"
    mat-stroked-button>
    Enjoy
    <mat-icon>favorite</mat-icon>
  </button>
</div>

<mat-toolbar *ngIf="session">
  <mat-toolbar-row>
    <div class="input-id">
      <mat-form-field>
        <input matInput
               (click)="$event.target.select()"
               (blur)="checkInputEmpty()"
               [matAutocomplete]="auto"
               [formControl]="videoSearchCtrl">
        <button (click)="videoSearchCtrl.setValue('')" *ngIf="videoSearchCtrl.value" aria-label="Clear" mat-button mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete" class="search-panel">
          <mat-option *ngFor="let video of filteredVideoSearch | async" [value]="video.title" title="{{video.channel}}" (click)="setId(video.id)" (keydown.enter)="setId(video.id)">
            <div class="search-bar-img">
              <img aria-hidden [src]="video.thumbnail">
            </div>
            <div class="search-bar-title">{{video.title}}</div>
            <div class="search-bar-actions">
              <button (click)="addToList($event, video)" mat-icon-button>
                <mat-icon>playlist_add</mat-icon>
              </button>
              <button (click)="toggleVideo()" mat-icon-button>
                <mat-icon *ngIf="id !== video.id || ( id === video.id && state !== 1 )">play_arrow</mat-icon>
                <mat-icon *ngIf="id === video.id && state === 1">pause</mat-icon>
              </button>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="!id" class="no-video">
  <mat-icon>offline_bolt</mat-icon>
</div>
<div *ngIf="session && id" class="player-wrapper">
  <youtube-player
    (ready)="savePlayer($event)"
    (stateChange)="setPlayerStatus()"
    [ngClass]="{'cinema': cinema}"
    [videoId]="id"
    class="player">
  </youtube-player>
  <div class="icons">
    <button (click)="changePinDialog()" class="pin-button" mat-icon-button>
      <mat-icon *ngIf="pin!==-1">lock</mat-icon>
      <mat-icon *ngIf="pin===-1">lock_open</mat-icon>
    </button>
    <button (click)="openList(0)" class="list-button" mat-icon-button>
      <mat-icon>list</mat-icon>
    </button>
    <button (click)="donate.submit()" class="donate-button" mat-icon-button type="submit">
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      (click)="toggleVideo()"
      *ngIf="state"
      class="play-pause-button"
      color="primary"
      mat-raised-button>
      <span *ngIf="state!==1">Play</span>
      <span *ngIf="state===1">Pause</span>
    </button>
    <button (click)="shareLink()" [cdkCopyToClipboard]="link"
            [matTooltipDisabled]="disableShareTooltip"
            mat-icon-button
            matTooltip="Link copied to clipboard!" matTooltipClass="shareLinkTooltip"
            matTooltipPosition="above">
      <mat-icon>share</mat-icon>
    </button>
    <button (click)="toggleCinema()" class="cinema-button" mat-icon-button>
      <mat-icon>tv</mat-icon>
    </button>
  </div>
  <button (click)="github()" class="github-button" mat-icon-button>
    <mat-icon>code</mat-icon>
  </button>
</div>

<form #donate action="https://www.paypal.com/cgi-bin/webscr" method="post" style="display: none" target="_top">
  <input name="cmd" type="hidden" value="_s-xclick"/>
  <input name="hosted_button_id" type="hidden" value="88TA7W3XMQH94"/>
</form>
