app-player {
  .mat-toolbar-row {
    display: flex;
    justify-content: center;
    color: #fafafa;
    background-color: #3698f4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    font-weight: 400;
    position: fixed;
    font-size: 13px;

    @media only screen and (min-width: 768px) {
      font-size: 18px;
    }

    .topbar-specific {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .topbar-not-specific {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .input-id {
      min-width: 118px;
      max-width: 500px;
      width: 100%;

      mat-form-field {
        width: 100%;
      }
    }
  }

  .play-pause-button {
    margin-top: 50px;
  }

  .no-video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    color: #fff;

    .mat-icon {
      font-size: 56px;
    }
  }

  .player-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    color: #fff;

    .player {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 50vh;
      width: 100%;
      border: none;

      @media only screen and (min-width: 768px) {
        height: auto;
        width: auto;
        border: 1px solid whitesmoke;
        border-radius: 12px;
        padding: 22px;
      }

      &.cinema {
        iframe, object, embed {
          @media only screen and (min-width: 768px) {
            height: 620px;
            width: 1094px;
          }
        }
      }

      &.hide-video {
        visibility: hidden;
      }
    }

    iframe, object, embed {
      height: 100%;
      width: 100%;
      margin: auto;

      @media only screen and (min-width: 768px) {
        height: 390px;
        width: 640px;
      }
    }

    .video-hidden {
      position: absolute;
      left: calc(50% - 25px);

      .mat-icon {
        font-size: 56px;
        color: white;
      }
    }

    .icons {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 80%; // 60%;

      .donate-button {
        display: none;
      }

      .list-button,
      .cinema-button {
        display: block;
      }

      @media only screen and (min-width: 768px) {
        width: 400px;

        .list-button,
        .cinema-button {
          display: block;
        }
      }
    }

    .github-button {
      display: none;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}

.shareLinkTooltip {
  background-color: rgba(27, 139, 127, 0.47);
  font-size: 12px;
  font-weight: 400;
}

.mat-snack-bar-container {
  background: #32323285;
}


.mat-autocomplete-panel.search-panel {
  top: 5px;
  border-radius: 10px;

  .mat-option {
    padding: 0 5px 0 0 !important;
    height: 68px !important;
    border-radius: 5px;
    margin: 6px;

    .mat-option-text {
      display: flex;
      align-items: center;

      .search-bar-img {
        border-radius: 5px;
        height: 68px;
        display: flex;
        align-items: center;

        img {
          height: 90px;
        }
      }

      .search-bar-title {
        width: 290px;
        height: 68px;
        overflow: hidden;
        flex-wrap: wrap;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        padding-left: 11px;
        line-height: 19px;
        display: flex;
        align-items: center;
      }

      .search-bar-actions {

      }
    }

    .mat-icon {
      margin: 0;
    }
  }
}
