<mat-nav-list>
  <div *ngIf="data.watchLaterVideos.length < 1" class="empty-list">No videos in the watch later list</div>
  <div *ngFor="let video of data.watchLaterVideos" class="watch-later-list">
    <mat-list-item (click)="playVideo($event, video)">
      <img [src]="video.thumbnail" class="watch-later-list-img">
      <span mat-line>{{video.title}}</span>
      <span mat-line>{{video.channel}}</span>
      <button (click)="removeVideo($event, video)" mat-button mat-icon-button class="remove-button">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </div>
</mat-nav-list>
