app-watch-later {
  .empty-list {
    text-align: center;

    .add-videos {
      color: #3698f4;
      cursor: pointer;
    }
  }

  .watch-later-list:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .08);
  }

  .watch-later-list-img {
    order: -1;
    margin-right: 20px;
    height: 68px;
  }

  .action-button {
    color: #96969661;
    margin-left: 12px;
  }
}
