app-pin {
  .mat-dialog-content {
    text-align: center;
  }

  .mat-dialog-actions {
    justify-content: space-around;
  }

  .mat-button {
    font-weight: 400;
  }

  .change-button:focus {
    color: white !important;
    background: #4ed580;
  }
}
